@import url("https://fonts.googleapis.com/css?family=Yeseva+One:regular");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/GalanoGrotesqueAltRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/GalanoGrotesqueAltBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotcha";
  src: url("/fonts/gotcha-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Galano Grotesque", cursivec !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Galano Grotesque", cursive !important;
  color: #000000;
  line-height: 1.2;
  font-weight: 600;
}

p {
  font-family: "Galano Grotesque", cursivec !important;
  color: #000;
  /* font-size: 16px; */
  line-height: 1.5;
  margin: 0;
}

a,
.button {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a {
  font-family: "Overpass", cursivec !important;
  text-decoration: none !important;
}


a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
button {
  color: #fff;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.capitalize {
  text-transform: capitalize
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li,
a {
  list-style: none !important;
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

/* NAVBAR STYLING */
.show {
  display: block;
}

.navbar {
  background: transparent !important;
  /* position: fixed !important; */
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff !important;
}

.is-active {
  display: block;
   position: fixed !important;
  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1) !important;
  backdrop-filter: blur(6.5px) !important;
  -webkit-backdrop-filter: blur(6.5px) !important;
}

/* stroke */
.nav-items ul li a {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-items ul li a,
.nav-items ul li a:after,
.nav-items ul li a:before {
  transition: all .5s;
}

/* .nav-items ul li a:hover {
  color: #00a6d4 !important;
} */

.nav-items ul li a {
  position: relative;
}

.nav-items ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #000000;
  height: 1px;
}

.nav-items ul li a:hover:after {
  width: 100%;
}

/* Navbar-toggler */
.navbar .navbar-toggler {
  border: 1px;
	border-color: #444;
  color: none !important;
}

.navbar .navbar-toggler:focus {
	background: none;
	outline: 0;
  box-shadow: none !important;
}

.navbar .navbar-toggler span {
	display: block;
	width: 30px;
	height: 2px;
	margin: 6px auto;
	background: #000;
	transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar .navbar-toggler:hover span,
.navbar .navbar-toggler:focus span {
	background: #000;
}

/* rotate first span */
.navbar .navbar-toggler[aria-expanded="true"] span:first-of-type {
	transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;
}

/* rotate third span */
.navbar .navbar-toggler[aria-expanded="true"] span:last-of-type {
	transform: rotate(-45deg) translate(5px, -5px);
}

.navbar .navbar-toggler[aria-expanded="false"] span {
	transform: none;
	opacity: 1;
}

/* Styling dropdown */

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all .6s;
}

.dropdown-title {
  display: block;
  width: 100%;
  padding: 15px;
  clear: both;
  font-weight: 400;
  color: #9d9d9d;
  text-align: inherit;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: unset;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: unset;
}

.dropdown-item:active {
  background-color: unset !important;
}

.dropdown-item:hover {
  background-color: unset !important;
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center !important;
    align-items: center !important;
  }

}

.btn {
  display: inline-block;
  margin-right: 20px;
  letter-spacing: 2px;
  border: 1px solid transparent
}

.button {
  margin-top: 0;
  margin-bottom: 0
}

.btn.btn-large {
  font-size: 18px;
  padding: 18px 35px
}

.highlight-button {
  border: 2px solid #ffaf0a !important;
  display: inline-block;
  padding: 8px 20px 9px;
  font-size: 12px;
  color: #fff !important;
  background-color: #ffaf0a !important;
}

.highlight-button:hover {
  background-color: #ffaf0a !important;
  border: 2px solid #ffaf0a !important;
  color: #fff !important;
}

/* Mobile Menu */
.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99
}

.mobile_menu .slicknav_menu {
  background: transparent;
  margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
  top: -39px
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
  background-color: #03acee !important
}

.mobile_menu .slicknav_menu .slicknav_nav {
  margin-top: 9px !important
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #03acee
}

.mobile_menu .slicknav_menu .slicknav_nav a {
  font-size: 15px;
  padding: 7px 10px
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
  padding: 0 !important
}


/*===== mobile menu slicknav =====*/

.mobile_menu {
  position: absolute;
  right: 10px;
  width: 96%;
  z-index: 99;
}

/* GENERAL */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(15,11,11,.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* MAIN SILDER STYLES */
.main-slider {
  position: relative;
  display: block;
  background: #ffffff;
}

/* BANNER AREA STYLES */
.banner-wrapper {
  width: 100%;
  position: relative;
  /* margin-top: 105px; */
}

.mySwiper {
  width: 100%;
  height: 100%;
  color: #fff;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.banner-wrapper .slide {
  padding: 136px 0px 140px;
}

.banner-wrapper .slide .image-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale (1);
  transition: all .8s ease-in-out .4s;
}

.banner-wrapper .slide .image-layer::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.main-content-box {
  position: relative;
  max-width: 1200px;
  padding: 0px 60px;
  margin: 0 auto;
}

.content-box {
  position: relative;
  display: block;
  width: 100%;
  z-index: 10 !important;
}

.content-box .title h3 {
  position: relative;
  display: block;
  overflow: hidden;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.025em;
  font-family: "Gotcha" !important;
}

.swiper-slide .subtitle h2 {
  color: #ffffff;
  font-size: 80px;
  line-height: 1.10em;
  font-weight: 700;
  text-transform: none;
}

.swiper-slide .banner-text {
  font-size: 14px;
  max-width: 577px;
  line-height: 1.3;
  color: #fff !important;
}

.swiper-slide .banner-text p {
  color: #fff !important;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  display: none !important;
}

.swiper-pagination {
  position: absolute;
  top: 0;
  left: 50px !important;
  bottom: 0;
  width: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  counter-reset: count;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: 25px !important;
  width: 25px !important;
  text-align: center !important;
  border-radius: 50% !important;
  margin: 5px 0 !important;
  z-index: 1;
}

.swiper-pagination-bullet-active {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  color: #fff !important;
  background: linear-gradient(45deg, rgba(255,152,14,1) 0%, rgba(255,56,73,1) 100%) !important;
}

.main-content-box .content-box .border-box {
  position: relative;
  display: block;
  max-width: 600px !important;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.border-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
  background: #fa8f3d;
  -webkit-transition: all 2000ms ease;
  -moz-transition: all 2000ms ease;
  -ms-transition: all 2000ms ease;
  -o-transition: all 2000ms ease;
  transition: #fa8f3d 2000ms ease-in-out;
}

.main-content-box .content-box .banner-text {
  position: relative;
  display: block;
  padding-top: 34px;
  transform: perspective(400px) rotateY(0deg) translateY(2px);
}

.main-content-box .content-box .banner-text p {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
}

.main-content-box .content-box .banner-buttons {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 43px;
}

.main-content-box .content-box .banner-buttons .icon {
  font-size: 22px;
}

.content-box .banner-buttons .btn-one {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  padding-right: 30px;
  background-color: #fa8f3d;
  color: #ffffff;
  font-size: 16px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 1;
}

.banner-buttons .btn-one-color {
  background-color: #ee4503 !important;
}

/* Banner area media query */
@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px */
  .main-content-box {
    padding: unset;
  }

  .swiper-slide .subtitle h2 {
    font-size: 30px;
    line-height: 1.25em;
  }

  .main-content-box {
    padding: 0px 20px;
    padding-left: 20px;
  }  

}


/* INTRO STYLES */
#section-donate {
  position: relative;
  z-index: 0;
}

.section-md {
  padding: 20px 0;
}

.ftco-intro {
  margin-top: 80px;
}

.ftco-intro.ftco-intro-2 {
  margin-top: 0 !important;
}

.ftco-intro .block-18 {
  display: block;
  width: 100%;
  padding: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.quote-box h2 {
  font-size: 2.4375rem;
  line-height: 3.1875rem;
}

.text-decorated {
  position: relative;
  padding-left: 0.65em;
  font-weight: 700;
}

.text-decorated::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 80%;
  background: #3ab0ffa6;
}

.quote-box {
  padding: 30px;
}

.quote-box .author {
  font-size: 30px;
  position: relative;
  display: block;
  padding: 0.75rem 0;
  color: #ee4503 !important;
  /* font-size: 1.125rem; */
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  padding-left: 0.65em;
}


/* ABOUT SECTION AREA STYLES */
.about-area {
  position: relative;
  display: block;
  background: #fff;
  padding: 20px 0;
  padding-bottom: 100px;
}

.about-title {
  position: relative;
  display: block;
  margin-top: -4px;
  padding-bottom: 56px;
}

.about-title .sub-title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 11px;
}

.about-title .sub-title .inner {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.about-title .sub-title .inner h3 {
  color: #ee4503;
  font-size: 25px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: "Gotcha" !important;
}

.about-title h2 {
  font-size: 48px;
  font-weight: 800;
}

.about-content {
  position: relative;
  display: block;
  min-height: 575px;
}

.about-img-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 585px;
  width: 100%;
  overflow: hidden;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .about-img-box {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.about-img-box::after {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,rgba(255,255,255,.7) 0%,rgba(255,255,255,.3) 100%);
  transform: skewX(25deg);
  z-index: 2;
}

.about-content .shape1 {
  position: absolute;
  top: -10px;
  right: -30px;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px */
  .about-content .shape1 {
    position: absolute;
    top: -30px;
    right: unset;
  }
}

.about-content .text-holder {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  max-width: 640px;
  width: 100%;
  background: #fff;
  padding: 53px 60px 63px;
  box-shadow: 0 5px 24px 6px rgb(0 0 0 / 6%);
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px */
  .about-content .text-holder {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    padding: 43px 30px 63px;
  }
}

.about-content .text-holder .top {
  position: relative;
  display: flex;
  align-items: center;
}

.about-content .text-holder .top .title {
  position: relative;
  display: block;
}

.about-content .text-holder .title h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.about-content .text-holder .text {
  position: relative;
  display: block;
  padding: 10px 0 10px;
}

.about-content .bottom {
  margin-top: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.about-content .text-holder ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-content .text-holder ul li {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  border-right: 1px solid #e3e9f4;
}

.about-content .text-holder ul li:last-child {
  border-right: none;
}

.about-content .text-holder ul li .icon {
  position: relative;
  display: block;
  padding-bottom: 10px;
  z-index: 1;
}

.about-content .text-holder ul li .icon .shape {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* DONATE NOW STYLES */
.donate-now-area {
  position: relative;
  display: block;
  padding: 50px 0 50px;
}

.donate-now-area .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: unset ;
}

@media screen and (max-width: 768px) {
  .donate-content {
    text-align: center;
    align-items: center;
  }
}

.section-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.icon-gift {
  margin-right: 40px;
  font-size: 48px;
  color: #ffffff;
  transform: rotate(-20deg);
}

.donate-now-area .text {
  margin: 10px 0 10px;
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  margin-right:  auto !important;
  z-index: 1;
}

/* TESTIMONIAL STYLING */
.section-primary {
  position: relative;
  padding: 100px 0px;
}

.t-bordered {
  border-top: 1px solid #eaeaea;
}

.testimonial-three .testimonial-image {
  float: left;
  margin: 0 20px 0 0;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
}

.testimonial-three .testimonial-image span,
.testimonial-three .testimonial-image span img {
  position: unset !important;
  height: inherit !important;
}

.testimonial-three .testimonial-content {
  overflow: hidden;
}

.testimonial-three .testimonial-meta {
  position: relative;
  overflow: hidden;
  margin-left: 100px;
}

.testimonial-three .testimonial-name {
  display: block;
}

.testimonial-three .testimonial-three-col {
  padding-bottom: 35px;
}

.testimonial-three .testimonial-three-col {
  border-right-style: dashed;
  border-right-width: 1px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  padding: 25px;
}

.testimonial-three .testimonial-three-col:hover {
  background-color: #f7f7f7;
}

.alternate-color .testimonial-three .testimonial-three-col:hover {
  background-color: white;
}

.testimonial-three.testimonial-three--col-two
  .testimonial-three-col:nth-child(2n) {
  border-right: none;
}

.testimonial-three.testimonial-three--col-two
  .testimonial-three-col:nth-last-child(-n + 2),
.testimonial-three.testimonial-three--col-two
  .testimonial-three-col:last-child {
  border-bottom: none;
}

.testimonial-three.testimonial-three--col-three
  .testimonial-three-col:nth-child(3n) {
  border-right: none;
}

.testimonial-three.testimonial-three--col-three
  .testimonial-three-col:nth-last-child(-n + 3),
.testimonial-three.testimonial-three--col-three
  .testimonial-three-col:nth-last-child(-n + 2),
.testimonial-three.testimonial-three--col-three
  .testimonial-three-col:last-child {
  border-bottom: none;
}

/* EVENTS SECTION STYLES */
.event-area {
  position: relative;
  display: block;
  background: #fff;
  padding: 20px 0;
}

.event-area .custom-container {
  padding-right: 120px;
}

.event-area .image-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 585px;
  width: 100%;
  overflow: hidden;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-area .content-box {
  position: relative;
  display: block;
  padding: 100px 0 50px;
  z-index: 0 !important;
}

.event-area .content-box .title.style-two {
  margin-bottom: 40px;
}

.event-area .content-box .title .content-title {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  padding-right: 50px;
  /* color: #ee4503; */
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: "Gotcha" !important;
  letter-spacing: 2px;
}

.event-area .content-box .title h1 {
  font-size: 44px;
  line-height: 1.4em;
  font-weight: 600;
}

.event-area .content-box .title h1 span {
  color: #ee4503;
}

.event-area .content-box .title .text {
  margin-top: 15px;
}

.event-area .content-box .event-block {
  position: relative;
  margin-bottom: 30px;
}

.event-area .content-box .event-block .date {
  font-size: 36px;
  font-weight: 500;
  color: #222;
  margin-bottom: 5px;
}

.event-area .content-box .event-block .date span {
  font-size: 22px;
  font-weight: 600;
}

.event-area .content-box .event-block .organizer {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.event-area .content-box .event-block .organizer a {
  color: #ee4503;
}

.event-area .content-box .event-block h4 {
  position: relative;
  font-family: "Galano Grotesque", cursive !important;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 25px;
  margin-bottom: 25px;
  line-height: 1.3em;
}

.event-area .content-box .event-block h4::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.event-area .content-box .event-block h4::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #ee4503;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.event-area .content-box .event-block .post-meta {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding-left: unset !important;
}

.event-area .content-box .event-area .post-meta li {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #222;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.event-area .content-box .event-area .post-meta li .post-icon {
  margin-right: 5px;
  font-size: 14px;
}

.event-area .content-box .link-btn {
  display: block;
  margin-top: 10px;
}

/* TESTIMONIAL STYLES */
.testimonial-area {
  position: relative;
  display: block;
  background: #eef1f7;
  padding: 250px 0 300px;
  z-index: 1;
}

.testimonial-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  z-index: -1;
}

/* .testimonial-carousel {
  padding-right: 100px;
} */

.swiper-testimonial {
  width: 100%;
  height: 100%;
}

.single-testimonial {
  position: relative;
  display: block;
  padding-left: 200px;
}

@media screen and (max-width: 768px) {
  .testimonial-carousel .swiper-slide {
    width: 500px !important;
    margin-right: 50px !important;
    font-size: 1rem;
  }
}

.single-testimonial .img-holder {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  align-items: center;
}

.single-testimonial .img-holder .inner {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.single-testimonial .text-holder {
  position: relative;
  display: block;
}

.single-testimonial .text-holder .quote {
  position: relative;
  display: block;
}

.single-testimonial .text-holder .quote .quote-icon {
  color: #ee4503;
}

.single-testimonial .text-holder .quote .quote-icon::before {
  position: relative;
  left: 1px;
  display: inline-block;
  color: #ee4503;
  font-size: 40px;
  line-height: 40px;
  transform: rotate(-180deg);
}

.single-testimonial .text-holder .text {
  position: relative;
  display: block;
  padding: 22px 0 25px;
  color: #000000;
}

.single-testimonial .text-holder .text h3 {
  color: #03acee;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 0 13px;
}

.single-testimonial .text-holder .client-info {
  position: relative;
  display: block;
}

.single-testimonial .text-holder .client-info h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 0 1px;
}

.single-testimonial .text-holder .client-info span {
  font-size: 14px;
  color: #000000;
}


/* BLOG AREA STYLES */
.blog-area {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 120px 0 70px;
  z-index: 1;
}

.blog-area .float-shape {
  position: absolute;
  top: 120px;
  right: 10%;
}

.blog-title {
  position: relative;
  display: block;
  margin-top: -4px;
  padding-bottom: 50px;
}

.blog-title .sub-title {
  position: relative;
  display: block;
  margin-top: 30px;
  padding-bottom: 11px;
}

.blog-title .sub-title .inner h3 {
  color: #ee4503;
  font-size: 25px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: "Gotcha" !important;
}

.blog-title .sub-title {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.blog-title h2 {
  font-size: 48px;
  line-height: 1.3em;
  font-weight: 800;
  text-transform: none;
}

.single-blog {
  position: relative;
  display: block;
  margin-bottom: 47px;
}

.single-blog .img-holder {
  position: relative;
  display: block;
}

.single-blog .img-holder .inner {
  position: relative;
  display: block;
  overflow: hidden;
}

.single-blog .img-holder .inner span {
  position: relative !important;
}

.single-blog .img-holder .inner img {
  position: relative !important;
  width: inherit !important;
  height: inherit !important;
}

.single-blog .img-holder .inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #000000; */
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: perspective(400px) rotateX(-90deg);
  -ms-transform: perspective(400px) rotateX(-90deg);
  transform: perspective(400px) rotateX(-90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 1;
}

.single-blog .img-holder .inner::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.10;
  /* background: #000; */
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;
  opacity: 1;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: scaleY(0);
  z-index: 1;
}
/* 
.single-blog .img-holder img {
  width: 100%;
  transition: all 200ms linear;
  transition-delay: 0.1s;
} */

.single-blog .img-holder .date-box {
  position: absolute;
  display: block;
  padding: 15px;
  width: 80px;
  height: 80px;
  left: 0;
  bottom: 6px;
  background: #03acee;
  text-align: center;
  z-index: 3;
}

.single-blog .img-holder .date-box h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 30px;
  font-weight: 800;
  margin: 0 0 6px;
}

.single-blog .img-holder .date-box p {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.single-blog .text-holder {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 50px 40px 38px;
  bottom: 6px;
  box-shadow: 0px 5px 24px 6px rgb(0 0 0 / 6%);
  border: 1px solid transparent;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.single-blog:hover .text-holder {
  box-shadow: none;
  border-color: #e3e9f4;
}

.single-blog .text-holder .blog-title {
  font-size: 24px;
  line-height: 25px;
  font-weight: 800;
  text-transform: none;
  word-wrap: break-word;
}

.single-blog .text-holder .blog-title a:hover {
  text-decoration: underline;
  transition: .1s ease;
  color: #ee4503;
}

.single-blog .text-holder .blog-title .text {
  position: relative;
  display: block;
  padding-top: 14px;
  padding-bottom: 30px;
}


/* SPONSOR SECTION STYLES */
.partner-area {
  position: relative;
  display: block !important;
  background: #ffffff;
  padding: 0 0 120px;
  z-index: 2;
}

.top-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

.partner-area .top-box .shape {
  position: absolute;
  top: -50px;
  left: -120px;
}

.partner-area .top-box .title {
  position: relative;
  display: block;
  margin-top: -13px;
}

.partner-area .top-box .title h2 {
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  margin-bottom: 10px;
}

.partner-area .top-box .title h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.single-sponsor {
  position: relative;
  display: block;
  text-align: center;
  line-height: 0;
  z-index: 1;
}

.single-sponsor .img-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.single-sponsor .img-box span {
  position: relative !important;
}

.single-sponsor .img-box img {
  position: relative !important;
  width: inherit !important;
  height: inherit !important;
}




.btn.btn-white {
  background: #fa8f3d;
  border: 1px solid #fa8f3d;
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn.btn-white:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff !important;
}

.ftco-section {
  padding: 3em 0;
  position: relative;
}


/* News Area Styling */
.section-padding {
  /* margin-top: 170px; */
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .section-padding {
    /* padding-top: 60px; */
    padding-bottom: 60px;
  }

  .news-row {
    gap: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    /* padding-top: 80px; */
    padding-bottom: 80px;
  }
}


/* ABOUT SECTION STYLES */
.section-color {
  background-color: #f3fcf8;
}

.post-area {
  display: flex;
  justify-content: center;
  margin-top: 100px !important;
  margin-bottom: 40px;
}

.post-image-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-image img {
  border-radius: 10px !important;
}

.post-area-para {
  line-height: 1.3 !important;
}

.post-details-1 {
  max-width: 39.25rem;
}

.post-about-title {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.2 !important;
}

.post-about-subtitle {
  font-weight: 400;
}

.post-row {
  align-items: center;
  margin: 6rem auto 4rem;
}

.post-details {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 30rem;
  min-width: 25rem;
  margin: 20px auto 35px;
}

.post-details-title {
  margin: 0 0 1.5rem;
}

.post-area-3 {
  display: flex;
  justify-content: center;
}

.post-details-3 {
  max-width: 60.25rem;
  margin: 10px auto 35px;
}


@media (max-width: 767.98px) {
  .page-image {
   width: 350px !important;
   /* height: 250px !important; */
  }

  .post-row {
    margin: 0 auto !important;
  }
}


/* ANNUAL REPORT STYLING */
.annual-report-area {
    margin-bottom: 40px; 
}


.timeline-section .section_heading {
  text-align: left;
}

.annual-report-area h3 {

}

.timeline-area {
  position: relative;
  z-index: 1;
  padding-left: 180px;
}

@media only screen and (max-width: 575px) {
  .timeline-area {
    padding-left: 100px;
  }
}

.timeline-box .timeline-date {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 60px;
}

@media only screen and (max-width: 575px) {
  .timeline-box .timeline-date {
      width: 100px;
  }
}

.timeline-box .timeline-date::after {
  position: absolute;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #63b2f5;
  top: 0;
  right: 30px;
  z-index: 1;
}

.timeline-box .timeline-date::before {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #63b2f5;
  content: "";
  top: 50%;
  right: 26px;
  z-index: 5;
  margin-top: -5.5px;
}

.timeline-box .timeline-date p {
  margin-bottom: 0;
  color: #ff8040;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  /* font-family: "Monoton", monospace; */
}

.timeline-box .timeline-content {
  position: relative;
  z-index: 1;
  padding: 30px 30px 25px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgb(17 17 17 / 13%);
  box-shadow: 0 0.25rem 1rem 0 rgb(17 17 17 / 13%);
  border: 1px solid #ebebeb;
  background-color: #fff;
}

@media only screen and (max-width: 575px) {
  .timeline-box .timeline-content {
      padding: 20px;
  }
}

.timeline-box .timeline-content .timeline-icon {
  align-items: center;
  transition-duration: 500ms;
  width: 50px;
  height: 50px;
  background-color: #63b2f5;
  flex: 0 0 30px;
  text-align: center;
  max-width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}

.timeline-box .timeline-content .timeline-icon .chart-icon {
  color: #ffffff;
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: flex;
}

.timeline-box .timeline-content .timeline-text h6 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.timeline-box .timeline-content .timeline-text p {
  font-size: 15px;
  margin-top: 1rem;
}

.timeline-box .timeline-content:hover .timeline-icon,
.timeline-box .timeline-content:focus .timeline-icon {
  background-color: #63b2f5;
}

.timeline-box .timeline-content:hover .timeline-text h6,
.timeline-box .timeline-content:focus .timeline-text h6 {
  color: #3f43fd;
}

.ripple-effect {
  text-decoration: none;
  font-family: "Galano Grotesque", cursivec !important;
  font-weight: 800;
  position: relative;
  font-size: 14px;
  color: #fff !important;
  text-transform: uppercase;
    /* Customize the rest of btns */
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(255,152,14,1) 0%, rgba(255,56,73,1) 100%);
  /* background-color: #ff8040; */
  display: block;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  padding: 11px;
  width: 65px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.ripple-effect div {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50rem;
  background-color: red;
  animation: rippleEffect 1s linear infinite;
}

@keyframes rippleEffect {
  from {
      width: 0;
      height: 0;
      opacity: 0.5;
  }

  to {
      width: 500px;
      height: 500px;
      opacity: 0;
  }
}



/* TESTIMONIALS STYLING */
.breadcrumb-area {
  background-image: url("/testimonial-banner.jpg");
  position: relative;
  /* display: block;
  overflow: hidden; */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 109px 0 115px;
  z-index: 1;
}

.breadcrumb-area::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0e131e !important;
  opacity: 0.75;
  content: "";
  z-index: -1;
}

.breadcrumb-area .breadcrumb-title {
  color: #fff;
}

.breadcrumb-area .about-title {
  position: relative;
  display: block;
  margin-top: unset !important;
  padding-bottom: unset !important;
}

.breadcrumb-area .testimonial-title {
  color: #ffffff !important;
}

.breadcrumb-area .border-box {
  position: relative;
  display: block;
  width: 80px;
  height: 2px;
  background: #ffffff;
  margin: 19px auto 24px;
}

.breadcrumb-area .border-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%);
  /* background: #ff8040; */
}

.testimonial-cards .single-testimonial {
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 4px;
  padding: 40px 30px 50px;
  box-shadow: 0 5px 24px 6px rgba(0, 0, 0, .06);
  margin-bottom: 50px;
}

.testimonial-cards .single-testimonial .text-holder {
  position: relative;
  display: block;
  padding-bottom: 20px;
}

.testimonial-cards .single-testimonial .text-holder p {
  margin: 0;
  line-height: 30px;
}

.testimonial-cards .client-info {
  position: relative;
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #e8e9e9;
}

.testimonial-cards .client-info .quote-icon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.testimonial-cards .client-info .client-name {
  position: relative;
  display: block;
  padding-left: 20px;
}

.testimonial-cards .client-info .client-name h5 {
font-size: 14px;
line-height: 18px;
font-weight: 700;
}

.testimonial-cards .client-info .client-name span {
  font-size: 14px;
  text-transform: uppercase;
}



/* OUR SERVICES STYLING */
.content-area {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 120px 0 120px;
}

.details-content {
  position: relative;
  display: block;
  padding-right: 10px;
}

.custom-blog {
  margin-bottom: 30px;
}

.custom-blog .img-holder {
  position: relative;
  display: block;
}
  
.custom-blog .text-holder {
  /* padding: 50px;
  padding-bottom: 45px; */
  padding: 45px 50px 50px;
  box-shadow: none;
  border: 1px solid #e3e9f4;
}

.custom-blog:hover .text-holder {
  border: 1px solid transparent;
  box-shadow: 0px 5px 24px 6px rgba(0, 0, 0, .06);
}

.custom-blog .text-area {
  padding-top: 15px;
  overflow: hidden;
}

.custom-blog .text-1 {
  position: relative;
  display: block;
  padding-top: 15px;
}

.custom-blog .title {
  position: relative;
  display: block;
  padding-top: 15px;
}

.custom-blog .title h3 {
  color: #222222;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.custom-blog .title-shape {
  position: absolute;
  top: -20px;
  left: 10px;
  opacity: 1.1;
}

.custom-blog .text-1 p {
  margin: 0 0 18px;
  line-height: 1.7em;
}

.custom-blog .title-shape-1 {
  position: absolute;
  top: 8px;
  left: 20px;
  opacity: 1.1;
}

.custom-blog .featured-text {
  position: relative;
  display: block;
  padding-top: 26px;
}

.custom-blog .single-text {
  position: relative;
  display: block;
  padding-left: 25px;
}

.custom-blog .single-text .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.custom-blog .single-text .text {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar-content-box {
  position: relative;
  display: block;
  max-width: 320px;
  width: 100%;
  float: right;
}

.sidebar-content-box::before {
  content: "";
  position: absolute;
  top: -120px;
  left: -40px;
  bottom: -1000000px;
  right: -1000000px;
  background: #eef1f7;
  height: calc(100% + 100px);
  /* z-index: -1; */
}

.tags-area {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 35px;
  margin-bottom: 60px;
}

.tags-area::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, rgba(255,152,14,1) 0%, rgba(255,56,73,1) 100%);
  content: "";
  z-index: 2;
}

.tags-area::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background: linear-gradient(45deg, rgba(255,152,14,1) 0%, rgba(255,56,73,1) 100%);
  content: "";
  z-index: 2;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.tags-area .title {
  position: relative;
  display: block;
  margin-top: -7px;
  padding-bottom: 23px;
}

.tags-area .title h3 {
  color: #000;
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
  text-transform: capitalize;
}

.tagcloud a {
  border: 1px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%);
  position: relative;
  display: inline-block;
  font-size: 15px !important;
  line-height: 23px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%);
  border-radius: 2px;
  padding: 3px 10px;
}

.tagcloud a:hover {
  color: #ffffff;
}

.sidebar-donate-box {
  position: relative;
  display: block;
  background-image: url("/coffee.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 45px 30px 45px;
}

.sidebar-donate-box::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #2f3a51;
  content: "";
  z-index: 2;
}

.sidebar-donate-box::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #2f3a51;
  content: "";
  z-index: 2;
}

.sidebar-donate-box .icon {
  position: relative;
  display: block;
  margin-bottom: 9px;
}

.sidebar-donate-box p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}






/* FOOTER STYLING */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: #F3FCF8;
  position: relative;
  z-index: 0;
}

.footer .footer_top {
  padding-top: 130px;
  padding-bottom: 110px;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.footer .footer_top .footer_widget {
  overflow: hidden;
}

.footer .footer_top .footer_widget .address_text {
  font-size: 16px;
  font-weight: 400;
  color: #7A7B7C;
  line-height: 30px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) and (max-width: 991px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

.footer .footer_top .footer_widget .meeting_time li span {
  color: #7A7B7C;
  font-size: 16px;
  line-height: 40px;
  font-weight: "Open Sans", sans-serif;
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 20px;
  font-weight: 500;
  color: #191d34;
  text-transform: capitalize;
  margin-bottom: 38px;
  font-family: "Yeseva One", cursive;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 28px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .news_links li {
  display: flex;
  margin-bottom: 16px;
}

.footer .footer_top .footer_widget .news_links li .thumb {
  margin-right: 14px;
}

.footer .footer_top .footer_widget .news_links li .thumb img {
  width: 98px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer .footer_top .footer_widget .news_links li .info h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #481D1D;
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget .news_links li .info span {
  font-family: "Open Sans", sans-serif;
  color: #7A7B7C;
  font-weight: 400;
  font-size: 12px;
  display: block;
  line-height: 1;
}

.footer .footer_top .footer_widget p {
  color: #AAB1B7;
  font-size: 16px;
  font-weight: 400;
  color: #7A7B7C;
  line-height: 40px;
}

.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a:hover {
  color: #08ABF1;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 26px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

/* .footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #08ABF1;
  border-bottom: 1px solid #3C08ABF1C78F;
} */

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #08ABF1;
  border-bottom: 1px solid #08ABF1;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #7A7B7C;
  font-size: 16px;
  line-height: 40px;
}

.footer .footer_top .footer_widget ul li a {
  color: #7A7B7C;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #08ABF1;
}

.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #F5FBFF;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  padding-right: 120px;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #AAB1B7;
}

.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #08ABF1;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #AAB1B7;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}

.footer .footer_top .footer_widget .instagram_feed {
  margin: -7.5px -7.5px 0 -7.5px;
}

.footer .footer_top .footer_widget .instagram_feed .single_insta {
  width: 33.33%;
  float: left;
  padding: 7.5px;
  overflow: hidden;
}

.footer .copy-right_text {
  padding-bottom: 32px;
}

.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #7A7B7C;
  margin-bottom: 0;
  font-weight: 400;
}

.footer .copy-right_text .copy_right a {
  color: #08ABF1;
}

.footer .copy-right_text .copy_right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #5c5c5c;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
}

.footer .social_links {
  margin-top: 26px;
}

@media (max-width: 767px) {
  .footer .social_links {
    margin-top: 20px;
  }
}

.footer .social_links ul li {
  display: inline-block;
}

.footer .social_links ul li a {
  font-size: 15px;
  color: #C3B2F0;
  width: 30px;
  display: inline-block;
  text-align: center;
  background: transparent;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 40px !important;
  color: #E8E8E8;
}

.footer .social_links ul li a:hover {
  color: #08ABF1 !important;
  border-color: transparent;
}

.bordered_1px {
  border-top: 1px solid rgba(60, 199, 143, 0.2);
  padding-bottom: 30px;
  display: block;
  overflow: hidden;
  width: 100%;
}

/* BUTTON STYLE CSS */
.dir-control {
  --borderWidth: 1;
  --buttonColor: #000000;
  --bg: #0d0d0d;
  --backdrop: transparent;
  --fontSize: 1;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  border-radius: 9999px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor)) !important;
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: "Galano Grotesque", cursivec !important;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
}

.dir-control:hover {
  --y: -5;
  --scale: 1.05;
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control:active {
  --y: 0;
  --scale: 0.95;
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span {
  -webkit-clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  left: calc(var(--borderWidth) * -1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  z-index: 1;
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(1):hover,
.dir-control span:nth-of-type(2):hover,
.dir-control span:nth-of-type(3):hover,
.dir-control span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(1):hover~b:nth-of-type(1),
.dir-control span:nth-of-type(2):hover~b:nth-of-type(2),
.dir-control span:nth-of-type(3):hover~b:nth-of-type(3),
.dir-control span:nth-of-type(4):hover~b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
  color: var(--textColor, var(--buttonColor)) !important;
}

.dir-control b {
  -webkit-clip-path: var(--clip);
  background: var(--slideColor, var(--buttonColor));
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  bottom: calc(var(--borderWidth) * -1px);
  font-weight: bold;
  clip-path: var(--clip);
  color: var(--bg, #fafafa);
  left: calc(var(--borderWidth) * -1px);
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  transition: -webkit-clip-path 0.25s ease;
  transition: clip-path 0.25s ease;
  transition: clip-path 0.25s ease, -webkit-clip-path 0.25s ease;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dir-control b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
}

.dir-control b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
}

.dir-control b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
}

.dir-control b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
}

.dir-control--secondary {
  --buttonColor: #fff;
  --bg: #0d0d0d;
}

.dir-control--filled {
  --backdrop: #fa8f3d;
  --slideColor: #0d0d0d;
  --textColor: #ffffff !important;
  --bg: #fa8f3d;
  border: none;
}

.btn-donate {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin: 0;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  -webkit-backface-visibility: hidden;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;  
  background: linear-gradient(45deg, rgba(255,152,14,1) 0%, rgba(255,56,73,1) 100%);
  border: 0;
  color: #fff;
}

.btn-donate:hover {
  color: #ffffff;
}

.btn-main {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin: 0;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  -webkit-backface-visibility: hidden;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%);
  border: 0;
  color: #fff;

  /* Customize the rest of btns */
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,173,237,1) 0%, rgba(11,125,168,1) 100%); */
}

.btn-main:hover {
  color: #ffffff;
}